body{
    display: flex;
    justify-content: center;
}

.stars{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 100px;
    cursor: pointer;
   
}
.star{
    /* background-color: red; */
    /* border: solid red; */
}
.star1:hover{
    color: yellow;
}
.star2:hover{
    cursor: pointer;
    color: red;
}

h1{
    font-size: 100px;
}
.count{
    font-size: 50px;
}